.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  height: 90px;
  min-width: 750px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  overflow: hidden;
}

.order-card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.order-card-title {
  margin-top: 0;
  width: 300px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.order-card-products-num,
.order-card-date,
.order-card-value,
.order-card-open-list-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  height: 25px;
}


.order-card-products-num p,
.order-card-date p,
.order-card-value p {
  display: flex;
  align-items: center;
  margin: 0;
}

.order-card-delete-Icon {
  width: 16px;
  height: 16px;
  fill: #c7cccc;
}
.order-card-delete-Icon:hover {
  fill: red;
}

.order-card-delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.order-card-open-list-button {
  cursor: pointer;
  background: none;
  height: 50px;
  width: 50px;
  border: 2px solid #e2e7ea;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.order-card-open-list-icon {
  fill: #546e7a;
  width: 20px;
  height: 20px;
}

.order-card.collapsed {
  max-width: 325px;
  min-width: 325px;
}

.order-card.collapsed .order-card-title,
.order-card.collapsed .order-card-value,
.order-card.collapsed .order-card-delete-button {
  display: none;
}

.order-card-arrow-icon {
  fill: white;
}

.order-card-arrow-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 100%;
  background-color: #cfd8dc;
  
}
.order-card-empty-container{
  width: 20px;
  height: 100%;
}
