.topMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 300px);
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    z-index: 1000;
  }

.headerInfo{
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  
  display: flex;
  flex-direction: column;

  user-select: none; /* Non-standard, Firefox */
  -moz-user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari and Opera syntax */
  -ms-user-select: none; /* IE/Edge syntax */
}
.siteName{
  display: flex; 
  align-items: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: green;
  text-decoration: none;
}
.logoStile{
  width: 16px;
  height: 16px;
  fill:green;
  margin-right: 2px;
}
